* {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    height: 100%
    width: 100%;
}

body{
	width: 100%;
	height: 100%;
}


.header {
	width: 100%;
	max-width: 100%;

}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

/*Стили для slaydr*/
.slaydr {
	width: 100%;
	max-width: 100%;
}

.container_header {
	width: 100%;
	max-width: 100%;
	height: 54px;
	margin-top: 258px;
	margin-bottom: 16px;
	justify-content: center;

}

.container_paragraph{
	width: 100%;
	max-width: 100%;
	height: 44px;
	margin-bottom: 281px;
}

/*стили для about_us*/

[class*='col'] {
    /* box-shadow: 0 0 0 .5px red; */
 	width: 100%;
	max-width: 100%; 
	margin: 0;
	padding: 0;
} 

.col-1 {
	width: 50%;
    max-width: 50%;
}

.col-3 {
    width: 50%;
    max-width: 50%;
    box-shadow: 0 0 0 .5px red;
}

/*стили для timeline*/
.event {
	display: flex;
	align-items: baseline;
}

/*стили для our_services*/
.our_services {
	width: 100%;
	max-width: 100%;
}

.container_article{
	width: 100%;
    max-width: 1125px;
    margin: 0 auto;
    padding: 0 10px;
}

.col-2 {
	max-width: calc(100% / 12 * 4 - 20px);
	margin: 70px 10px;
	width: 345px;
}

.article_icon {
	/* position: absolute; */
	width: 100%;
	max-width: 40px;
	margin: 0;
	/* height: 39.98px;
	left: 153.01px;
	top: 2348.01px; */
}

.hiring .container {
	padding: 0;
}

.col-4 {
	max-width: calc(100% / 12 * 3 - 20px);
	margin: 70px 10px 0px 10px;
	width: 200px;
}

.footer {
	width: 100%;
	max-width: 100%;
	height: 700px;
}

.massage {
	width: 100%;
	max-width: 100%;
}

.contant_contact_us {
	width:100%;
	max-width: 100%;
}

.footer {
	width: 100%;
	min-width: 100%;
	height: 700px;
}