@import 'grid.css';

*{
	margin: 0;
	padding: 0;
}


span {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	letter-spacing: 1px;
}

p{
	font-family: Ubuntu;
	font-style: normal;
	font-weight: normal;
	line-height: 26px;
	font-size: 15px;
	letter-spacing: 0.5px;
	margin-bottom: 20px;
}

img {
	width: 100%;
	max-width: 100%;
/* 	height: 100%; */
	margin: 0;
	padding: 0;

}

a{
	text-decoration: none;
}


.logo {
/*position: absolute;*/
	width: 168px;
	height: 24px;

	font-family: Montserrat;
	font-size: 20px;
	color: black;
}

a .logo{
	text-decoration: none;
}

.site_menu {
	margin-left: auto;
}

.main-menu {
    color: #000000;
    font-family: "Open Sans";
    font-size: 16px;
    letter-spacing: 0.5px;
}

.main-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-menu li {
    display: inline-block;
}

.main-menu a {
    display: block;
    color: inherit;
    text-decoration: none;
    padding: 8px 18px;
    transition: color .3s ease;
}

.main-menu a:hover {
    color: red;
}

.container_header span{
	display: block;
	font-size: 44px;
	color: #141720;
	text-align: center;
}

.container_paragraph span {
	display: block;
	text-align: center;
	font-family: Ubuntu;
	font-size: 25px;
	color: #5D5F65;
}

.about_us_info {
	padding: 10%;
	background: #141720;
	color: white;
}

.about_us_info span{
	display: block;
	font-family: Ubuntu;
	margin-bottom: 58px;
}


.about_us_picture img{
	object-fit: contain;
	box-shadow: 0 0 0 .5px green;	
}

/*стили для timeline*/

.event .year, .event .title {
	padding: 4px 8px;
}

.event .year {
	text-align: right;
}

.event .circle {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 4px solid #C71222;
	background-image: linear-gradient(to right, gray 0, gray 2px, transparent 0);
}

.timeline_text{
	padding: 10%;
	color: #2B2B2B;
}

.timeline_text span{
	display: block;
	font-family: Ubuntu;
	margin-bottom: 58px;	
}

.our_services {
	background: #EFEFEF;
}

.our_services span {
	display: block;
	margin: 166px 0 82px 0;
} 

.our_services .text span {
	display: block;
	font-family: Ubuntu;
	font-size: 15px;
	
}

.our_services .article_icon {
	padding-left: 20px; ;
}

.our_services .our_services-header {
	text-align: center;
	color: #2B2B2B;
}

.our_services p{
	color: #5D5F65;
}

.our_services .article span{ 
	display: block;
	font-size: 20px;
	color: #141720;
	padding-left: 20px;
	margin: 0;
	margin-bottom: 10px;
}


.hiring_text {
	padding: 10%;
	background: #141720;
	color: white;
}

.hiring_text span {
	display: block;
	margin-bottom: 58px;
}

.hiring_picture img{
	object-fit: contain;
}

.contant_contact_us {
	text-align: center;
}

.contant_contact_us input, .contant_contact_us textarea {
	background-color: white;
	border-bottom:  solid 1px #C71222;
	color: black;
}

.contant_contact_us textarea {
	resize: none;
}

.contant_contact_us .massage button {
	padding: 1% 2%;
}

.contact_us {
	padding: 10%;
	background: #141720;
	color: white;
}

.contact_us span {
	margin-bottom: 58px;
}

form {
	font-family: 'Open Sans', sans-serif;
	color: white;
	overflow:hidden;
	margin-bottom:20px;
}

input[type="text"] {
	width: 100%;
	padding: 8px;

}

input, textarea {
	outline: none;
	border: none;
	background-color:  #141720;
	border-bottom:  solid 1px white;
	display: block;
	font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    color: white;

}


.contact_us span{
	display: block;
	margin-bottom: 58px;
}

.contact_us input {
	margin-bottom: 10px; 
}

~webkit-input-placeholder {
	color: white;
}

.massage {
	position: relative;
}

.massage textarea {
	width: 100%;
	height: 150px;
	padding-bottom: 50px;
	resize: none;

}

input[type=text], .massage textarea {
	padding: 10px;
}

.massage button {
	position: absolute;
	bottom: 25px;
	right: 25px;
	float: right;
	border: none;
	margin-left: auto;
	color: white;
	font-size: 15px;
	background: #C71222;
	border-radius: 100px;
	padding: 3% 6%;
	cursor:pointer;
	
}

/*CSS Mobile*/
@media only screen
and (min-device-width : 500px)
and (max-device-width : 768px) {
	.container_header span{
		font-size: 30px;
	}

	.container_paragraph span{
		font-size: 20px;
	}

	.about_us_info {
		padding: 5%;
	}

	.about_us_info span {
		margin-bottom: 30px;
	}

	.hiring_text {
		padding: 5%;
	}

	.hiring_text span {
		margin-bottom: 30px;
	}

	.contact_us span {
		margin-bottom: 30px;
	}

	.massage textarea {
		resize: none;
		height: 90px;
	}

	input[type=text], .massage textarea {
		padding: 1px;
	}

	.massage button {
		bottom: 15px;
		right: 15px;
		font-size: 10px;
	}
}
